# Introduction to Python

Python is a general-purpose language that is easy to learn but yet powerful enough to be used for complex scientific computations.

In this notebook, we will review some of the basic concepts in Python. If you are familiar with other programming language(s) before, the concepts covered here are similar except the Python syntax is slighly different.

If you have not used any programming languages before, these concepts may be new but rest assured that they are relatively easy to follow!

# Core Python I

## Strings

String is one of the objects in Python. To define a string, we use single quotation marks, or double quotation marks, e.g.: `"Hello"` or `'Hello'`

To print out a string, we use `print()`:

In [1]:
print('Hello world')

Hello world

We can assign a string to a variable name using the equal sign `=`:

In [2]:
greeting = "Hello"
print(greeting)

Hello

In Jupyter notebook, we can simply write the variable name, and Jupyter will try to show the values associated with that variable. So in some cases, we don't have to use `print()`.

In [3]:
greeting

'Hello'

Note that this will only work in Jupyter.

We can check the type of the Python object by using `type()`:

In [4]:
type(greeting)

str

We can do several operation on a string object. One of them is to concatenate string objects using the `+` sign:

In [5]:
name = 'Anuar'
print(greeting + ' ' + name)

Hello Anuar

We cannot concatenate a string with a number. One need to cast a number to a string first by using `str()`:

In [6]:
greeting + ' ' + name + str(10)

'Hello Anuar10'

## Slicing and Indexing

We have seen previously that `greeting = "Hello"`. Here, each of the letter in the variable `greeting` (i.e. `H`, `e`, `l`, `l`, `o` can be accessed using a square bracket and provide the index or "address":

In [7]:
greeting[0]

'H'

Python uses zero-based indexing. So that means to access the first element in the string oject called `greeting`, we use `greeting = [0]`.

To slice the string (i.e. select a section of the string), we use the `:` symbol, e.g.:

In [8]:
greeting[1:4]

'ell'

In this case, we use `1` as the start value, hence `e` is the first letter selected. 

Then, we use `:` to indicate "up to", and use `4` as the end index. 

The end index itself will not be counted hence if we say `[1:4]`, we are referring to the indices `1`, `2` and `3`, hence we have `greeting[1:4] = ell` in the code above.

We can also index from the end using negative index. E.g.

In [9]:
greeting[-1]

'o'

Using `-1` as the index select the very last element in the string.

## Collection Data Types

There are four main objects that can be used to store a collection of data:

|Types|How to define?|Ordered?|Changable?|Duplicate members?|
|--|--|--|--|--|
|**List**| Square bracket | Yes | Yes | Yes | 
|**Tuple**| Round bracket | Yes | No | Yes |
|**Dictionary**| Curly bracket | Yes | Yes | No |
|**Set**| Curly bracket | No | No | No |

## Lists

List is defined by square brackets, e.g.:

In [10]:
my_list = ["This", "is", "a", "list"]

Check the object type of `my_list` using `type()`:

In [11]:
type(my_list)

list

To access the element(s) in the list, we apply the same indexing rule we used for string objects apply. 

For example, to select the second element in `my_list`, we need to use index `1` because the index starts from `0`:

In [12]:
my_list[1]

'is'

We can also use a multilevel index:

In [13]:
my_list[1][0]

'i'

There are several methods we can apply on a list object. One of the is

In [14]:
my_list.append("new data")
my_list

['This', 'is', 'a', 'list', 'new data']

Here, by using `append` we add new element (i.e. a string `"new data"`) at the end of the list.

## For Loops

A `for` loop is used to iterate a sequence. This is the most common way to repeat some tasks we want to perform.

Consider the previous list that we have:

In [15]:
my_list

['This', 'is', 'a', 'list', 'new data']

If we want to print out all the elements inside this list one by one, we need to iterate each element and use `print()`, i.e.:

In [16]:
for x in my_list:
  print(x)

This
is
a
list
new data

Here, the `for` loop goes to each element in `my_list` and assign the element to a variable name called `x`. The choice of this variable name `x` is arbitary.

Notice that after the line that contains `for` statement, that subsequent lines require indentation.

We can also iterate through a collection of number:

In [17]:
for i in [0,1,2,3,4]:
  print(i)
  print(my_list[i])

0
This
1
is
2
a
3
list
4
new data

In the second `print()` statement above, we are using element that is assigned to variable `i` at each loop to access the element in `my_list`.

A sequence of integers can also be generated using `range()` that is usually used to iterate `for` loops:

In [18]:
for k in range(5):
  print(k**2)

0
1
4
9
16

Nested `for` loops are also possible:

In [19]:
for i in range(2):
  for j in range(100, 103):
    print("i=" + str(i), " j = " + str(j))

i=0  j = 100
i=0  j = 101
i=0  j = 102
i=1  j = 100
i=1  j = 101
i=1  j = 102

## Exercise

Create two variables assign them with your first name and last name (i.e. string objects). 

Then, perform a nested loop to print out each letter in your first name (under the first `for` loop) and last name (the second `for` loop).

In [20]:
firstname = "ANUAR"
lastname = "hamid"

for x in firstname:
    print(x)
    for y in lastname:
        print(y)

A
h
a
m
i
d
N
h
a
m
i
d
U
h
a
m
i
d
A
h
a
m
i
d
R
h
a
m
i
d

# Core Python II

## Types of Numbers

There are three types of numbers in Python:


*   Integers: `1`, `2`, `-159`, `120504`
*   Floating-point numbers: `1.0`, `-2.9`, `1.67e8`
*   Complex numbers: `5+6j`, `complex(20, 3)`
 
To check the Python object type, use `type`

In [21]:
print(type(3))
print(type(6.44e12))
print(type(complex(3,7)))

<class 'int'>
<class 'float'>
<class 'complex'>

## Basic Arithmetic

|Operators|Symbol in Python|
|--|--|
|Addition| `+` |
|Subtraction| `-` |
|Multiplication| `*` |
|Floating-point division| `/` |
|Integer division| `//` |
|Modulus| `%` |
|Exponent| `**` |

In [22]:
a, b = 5, 2.0
print(a, b)

5 2.0

In [23]:
a + b

7.0

In [24]:
a**b

25.0

In [25]:
a % b

1.0

## Mathematical Functions
Two main Python built-in mathematical functions:


*   Absolute value: `abs()`
*   Round to the neareset integer: `round()`

In [26]:
abs(-67.4)

67.4

In [27]:
round(18.6)

19

In [28]:
round(-2.3572, 2)

-2.36

The second argument in `round()` above defines the number of digits after the decimal point.

## The `math` Module

More mathematical functions can be accessed by import the `math` module.

In [29]:
import math

For example, to find the value of sin($\frac{\pi}{2}$):

In [30]:
math.sin(math.pi/2)

1.0

## Variables

Python objects (e.g. float, string) can be stored as variables. This is achieved by assigning the object (e.g. `6.0`) to a variable name (e.g. `my_var`) using `=` symbol, i.e. `my_var = 6.0`.

In [31]:
my_var = 6.0
print(my_var)

6.0

A variable is stored at a specific memory location in the computer, which can be accessed using `id()`.

In [32]:
id(my_var)

1599914481808

## Comparison Operators

Comparison operators allow 2 Python objects to be compared and they return boolean object (`True` or `False`).

|Comparison Operators|Symbol in Python|
|--|--|
| Equal to |==|
| Not equal to |!=|
| Greater than |>|
| Less than |<|
| Greater than or equal to |>=|
| Less than or equal to |<=|

In [33]:
 x = 5
 y = 7

In [34]:
 x == y

False

In [35]:
x + 2 == y

True

## Logic Operators

There are 3 logic operators in Python:


*   `and`
*   `not`
*   `or`

The comparison and logic operators can be used together to return boolean object, e.g.:

In [36]:
5 > 4 and 2**2 == 4

True

Here, since both `5 > 4` and `2**2 == 4` are `True`, using `and` as the logic will return `True`.

Using `not` statement will invert the Boolean object:

In [37]:
not(5==4)

True

## Functions

Repetitive tasks can be avoided by writing a Python object called function. 

A function is defined by the `def` keyword. Function definitions may include parameters, providing data input to the function.

Functions may return values using the `return` keyword followed by the value to return.

The description of the function can be also added in between triple quotes `""" <description here> """`.

Consider the following code that take a parameter `x`, raise it to the power of 2, and return the squared value:

In [38]:
def squared(x): # define the function name
  """
  Take parameter x and raise it to the power of 2.
  This is section is optional. 
  """
  squared_value = x**2 # take the parameter x and raise it to the power of 2

  return squared_value # value(s) to return to whoever is calling this

We can see that `squared` is function-type object.

In [39]:
type(squared)

function

To use this function, we simply "call" the function name (after `def`) and supply the value required in the parathesis (in this case `x`):

In [40]:
squared(5)

25

Or we could also assign the returned value to a variable:

In [41]:
x_squared = squared(3)
print(x_squared)

9

The description of the function (called docstring) can be accessed by by adding `?` at the end of the function name.

In [42]:
squared?

## Conditional Statements

Conditional statements allow the flow of our code to be directed as required.

Consider the following example:

In [43]:
a = 11

if a > 10:
  print('a is bigger than 10')
else:
  print('a is smaller than 10')

a is bigger than 10

## Exercise

1. Write a function called `summation` that takes variables `x` and `y` and sum them up. Then return a message that tells whether the sum number is an even or odd number.

In [44]:
def summation(x,y):
  sum = x + y

  if sum % 2 != 0:
    return "Summation of x and y is an odd number"
  else:
    return "Summation of x and y is an even number"

summation(5,4)

'Summation of x and y is an odd number'